<main class="main">
  <div class="inner">
    <div class="art__wrapper">
      <div class="art__images">
        <%= image_tag @art.image ,class: :art__image %>
      
        <div class="art__edit">
          <% if user_signed_in? && current_user.id == @art.user_id %>
          <div class="art__manage">
            <%= link_to "　編集する　", edit_art_path(@art.id), class: :art__btn %>
            <%= link_to "　削除する　", art_path(@art.id), data: { turbo_method: :delete } , class: :art__btn %>
          </div>
              <% end %>
        </div>
      </div>

      <div class="art__body">
        <div class="art__detail">
          <p class="art__hedding">
            <%= @art.title %>
          </p>
        </div>
            <%= link_to "　by #{@art.user.nickname}", user_path(@art.user),class: :detail__message %>

        <div class= "art__detail_cate">
          <div class="art__detail">
            <p class="detail__cate">
              <%= @art.category.name %>
            </p>
          </div>
          <div class="art__detail">
            <p class="detail__cate">
              <%= @art.subcategory.name %>
            </p>
          </div>
        </div>
        <div class="art__detail">
          <p class="detail__message">
            <%= @art.content %>
          </p>
        </div>
      </div>
    </div>



    <div class="art__comments">
      <ul class="comments_lists">
        <h4>＜コメント一覧＞</h4>
        <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= link_to "#{comment.user.nickname}：", user_path(comment.user), class: :comment_user %>
          <%= comment.text %>
        </li>
         <% end %>
      </ul>
      <div class="art__comment">
        <% if user_signed_in? %>
          <%= form_with(model:[@art,@comment],local: true) do |f|%>
            <div class="field">
              <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
      </div>
    </div>

  </div>
</main>
